.form-inline {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: center !important;
}
.nav-fill {
    justify-content: center !important;
}
.buttons {
    display:block;
    margin: 5px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }
.list-item {
    display: flex; 
    padding: 0.5em;
    width: 100%;
    margin: 0;
    
}
.list-content {
    display: flex;
    flex-direction: column;
    background-color: #23d160;
    padding: 1em;
    width: 160px;
    height: 256px;
 }
 .list-content p {
   flex: 1 0 auto;
 }

 .title {
    text-align: center;
    font-style: oblique;
    color: #fff;

 }
 .subtitle {
    font-weight: 100;
 }

.epic {
    background-color: #BD3FFA;
}
.epic:hover {
  background-color: #BD3FFA !important;
}
.mythic {
    background-color: #DCA01E;
}
.mythic:hover {
  background-color: #DCA01E !important;
}
.rare {
    background-color: #1258A2;
}
.rare:hover {
  background-color: #1258A2 !important;
}
.legendary {
    background-color: #FF7605;
}
.legendary:hover {
  background-color: #FF7605 !important;
}
.marvel {
    background-color: #B22222;
}
.marvel:hover {
  background-color: #B22222 !important;
}

.all:hover {
  background-color: #23d160 !important;
}

@media screen and (max-width: 40em) {
    .list-item {
      /* width: 50% !important; */
    }
  }
@media screen and (max-width: 60em) {
    .list-item {
      /* width: 33.33% !important; */
    }
  }
@media screen and (max-width: 20em) {
    .list-item {
      width: 100% !important;
    }
}
  